body{
    background-color: #111418;

}
.imgg{
    width: 250px;
    height: 80px;
    margin-top: 5px;
    margin-left: 5px;
    }

    h1{
        text-align: center;
        color:white ;
        font-size: 70px;
        font-weight: bold;
        letter-spacing: 10px;
        font-family: cursive;
        text-align: center;
        font-weight: 700 ;
    }

    h2{
        color: white;
        text-align: center;
        font-weight: 600;
        font-size: 40px;
    }
   
    .text-center{
        text-align: center !important;
    }
    .text-light {
        color: #dee3e4 !important;
    }
    .text-5 {
        font-size: 1.3125rem !important;
    }
    .input-group {
        display: flex;
        width: 400px;
        text-align: center;
        margin-left: 560px;

    }
    .form-dark .form-control, .form-dark .custom-select {
        background: #272d32;
        color: #fff;
    }
    .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    .form-dark .form-control, .form-dark .custom-select {
        background: #272d32;
        color: #fff;
    }
    .form-control:not(.form-control-sm) {
        padding: 0.81rem 0.96rem;
        height: inherit;
    }
    .input-group>.form-control, .input-group>.form-select {
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
    }
    .form-control, .custom-select {
        font-size: 16px;
    }
    .border-dark {
        border-color: #212529!important;
    }
    .form-control {
        display: block;
        font-weight: 400;
        line-height: 1.5;
        border: 1px solid #ced4da;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
    }
    .btn-primary {
        background-color: #1a7d30;
        border-color: #1a7d30;
        color: white !important;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10;

    }
    .btn {
        font-weight: 500;
        border-width: 2px;
    }